<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Car Brand</title>
</head>
<body>
<h1>Create Car Brand</h1>
<form th:method="POST" th:action="@{/car_brand}" th:object="${carBrandDTO}">
    <label for="brandName">Brand Name:</label>
    <select id="brandName" name="brandName" required>
        <option th:each="brandName : ${brandNames}" th:value="${brandName}" th:text="${brandName.name()}"></option>
    </select><br/><br/>

    <label for="carType">Car Type:</label>
    <select id="carType" name="carType" required>
        <option th:each="carType : ${carTypes}" th:value="${carType}" th:text="${carType.name()}"></option>
    </select><br/><br/>

    <label for="fuelTankVolume">Fuel Tank Volume:</label>
    <input type="number" id="fuelTankVolume" name="fuelTankVolume" th:field="*{fuelTankVolume}" required /><br/><br/>

    <label for="carryingCapacity">Carrying Capacity:</label>
    <input type="number" id="carryingCapacity" name="carryingCapacity" th:field="*{carryingCapacity}" required /><br/><br/>

    <label for="numberOfSeats">Number of Seats:</label>
    <input type="number" id="numberOfSeats" name="numberOfSeats" th:field="*{numberOfSeats}" required /><br/><br/>

    <label for="maxSpeed">Max Speed:</label>
    <input type="number" id="maxSpeed" name="maxSpeed" th:field="*{maxSpeed}" required /><br/><br/>

    <button type="submit">Create</button>
</form>
<br/><br/>
<a th:href="@{/car_brand}">Back to Car Brands</a>
<br/><br/>
<a th:href="@{/start_page}">Back to Start Page</a>
</body>
</html>
