<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Vehicle</title>
</head>
<body>
<h1>Edit Vehicle</h1>
<form th:method="POST" th:action="@{/vehicle}" th:object="${allVehiclesDTO}">
    <input type="hidden" th:field="*{id}" />
    <br/><br/>
        <label for="equipmentType">Equipment Type:</label>
        <select id="equipmentType" name="equipmentType" required>
            <option th:each="type : ${T(ru.patrakhin.VehicleFleet.models.EquipmentType).values()}"
                    th:value="${type}" th:text="${type}"></option>
        </select><br/><br/>

        <label for="mileage">Mileage:</label>
        <input type="number" id="mileage" name="mileage"  th:field="*{mileage}" required /><br/><br/>

        <label for="numberVehicle">Number Vehicle:</label>
        <input type="text" id="numberVehicle" name="numberVehicle" th:field="*{numberVehicle}" required /><br/><br/>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price"  th:field="*{price}" required /><br/><br/>

        <label for="yearOfManufacture">Year of Manufacture:</label>
        <input type="number" id="yearOfManufacture" name="yearOfManufacture"  th:field="*{yearOfManufacture}" required /><br/><br/>

    <button type="submit">Save</button>
</form>

<br/><br/>
<a href="/vehicle">Back to Vehicles</a>
<br/><br/>
<a href="/start_page">Back to Start Page</a>
</body>
</html>