<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Vehicles</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Number Vehicle</th>
        <th>Price</th>
        <th>Year of Manufacture</th>
        <th>Mileage</th>
        <th>Equipment Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicles : ${allVehiclesDTO}">
        <td th:text="${vehicles.id}"></td>
        <td th:text="${vehicles.numberVehicle}"></td>
        <td th:text="${vehicles.price}"></td>
        <td th:text="${vehicles.yearOfManufacture}"></td>
        <td th:text="${vehicles.mileage}"></td>
        <td th:text="${vehicles.equipmentType}"></td>
        <td>
            <a th:href="@{vehicle/edit_vehicle/{id}(id=${vehicles.id})}">Edit</a>
            <!--<a th:href="@{vehicle/delete_vehicle/{id}(id=${vehicles.id})}">Delete</a>-->
            <form th:method="DELETE" th:action="@{vehicle/{id}(id=${vehicles.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/car_brand}">View Car Brands</a>
<a th:href="@{/start_page}">Back to Start Page</a>
<a th:href="@{/vehicle/create_vehicle}">Add New Vehicle</a>

</body>
</html>